<%= form_for(@race_day) do |f| %>
  <% if @race_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race_day.errors.count, "error") %> prohibited this race_day from being saved:</h2>

      <ul>
      <% @race_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :race_date %><br>
    <%= f.date_select :race_date %>
  </div>
  <div class="field">
    <%= f.label :race_id %><br>
    <%= f.number_field :race_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
