<div class="row">
	<div class="small-12 medium-8 columns">
		<h1>Listing Race Days</h1>
		<%= link_to 'New Race Day', new_race_day_path, :class => "button small" %>
		<table>
		  <thead>
		    <tr>
		      <th colspan="2"></th>
			  <th>Name</th>
		      <th>Race date</th>
		      <th>Race</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @race_days.each do |race_day| %>
		      <tr>
		        <td><%= link_to raw('<i class="fi-pencil"'), edit_race_day_path(race_day) %></td>
		        <td><%= link_to raw('<i class="fi-trash"'), race_day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= race_day.name %></td>
		        <td><%= race_day.race_date %></td>
		        <td><%= race_day.race_id %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>