<%= form_for(@moment_type) do |f| %>
  <% if @moment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moment_type.errors.count, "error") %> prohibited this moment_type from being saved:</h2>

      <ul>
      <% @moment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
