<div class="row">
	<div class="small-12 medium-8 columns">
		<h1>Listing Races</h1>
		<%= link_to 'New Race', new_race_path, :class => 'button tiny' %>
		<table>
		  <thead>
		    <tr>
		      <th colspan="2"></th>
		      <th>Name</th>
		      <th>Start day</th>
		      <th>End day</th>

		    </tr>
		  </thead>

		  <tbody>
		    <% @races.each do |race| %>
		      <tr>
		        <td><%= link_to raw('<i class="fi-pencil"'), edit_race_path(race) %></td>
		        <td><%= link_to raw('<i class="fi-trash"'), race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= race.name %></td>
		        <td><%= race.start_day.race_date %></td>
		        <td><%= race.end_day.race_date %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>