<%= simple_form_for @moment do |f| %>
  <% if @moment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

      <ul>
      <% @moment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-12 medium-6 columns">
					<%= f.input :active %>
				</div>
				<div class="small-12 medium-6 columns">
					<%= f.association :race_date, :collection => RaceDay.all.map{ |rd| ["#{rd.race.name} : #{rd.name} #{rd.race_date}", rd.id]}%>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<%= f.input :name %>
					<%= f.input :description %>
					<%= f.input :source %>
					<%= f.input :moment_type_id %>
					<%= f.input :asset_id %>
				</div>
			</div>
		</div>
		<div class="small-12 medium-8 columns">
			<div class="row">
				<div class="small-12 columns">
					<div id="map" class="contributor-map"></div>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<%= f.input :lat %>
				</div>
				<div class="small-6 columns">
					<%= f.input :long %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			  <div class="actions">
			    <%= f.button :submit, :class => 'tiny' %>
			  </div>
		</div>
	</div>
<% end %>
