<%= simple_form_for @moment do |f| %>
  <% if @moment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

      <ul>
      <% @moment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-12 medium-6 columns">
					<%= f.input :active %>
				</div>
				<div class="small-12 medium-6 columns">
					<%= f.association :race_day, :collection => RaceDay.all.map{ |rd| ["#{rd.race.name} : #{rd.name} #{rd.race_date}", rd.id]}%>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<%= f.input :name %>
					<%= f.input :description %>
					<%= f.input :source %>
					<%= f.input :embedable_code %>
					<div class="small-12 columns tag-list" data-module="tag-list">
						<label for="tag_input">Tags:</label>
						<input type="text" id="comma_seperated_tag_string" name="comma_seperated_tag_string" placeholder="Add tags. Use commas to separate." />
						<div class="row">
							<div class="small-12 columns">
								<div id="tag-list-controls" class="hidden" style="display: none;">
									<%= f.association :tags, as: :check_boxes, :label => false, collection: @moment.tags.order(:name => :asc)%>
								</div>
								<div id="tag-list-display">
									<% @moment.tags.order(:name => :asc).each do |tag| %>
										<span class="label tag radius secondary">
											<%= tag.name %> 
											<a href="#" class="close" data-tag-id="<%= tag.id %>"><i class="fi-x"></i></a>
										</span>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-8 columns">
			<div class="row">
				<div class="small-12 columns">
					<div id="map" class="contributor-map"></div>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<%= f.input :lat %>
				</div>
				<div class="small-6 columns">
					<%= f.input :long %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			  <div class="actions">
			    <%= f.button :submit, :class => 'tiny' %>
			  </div>
		</div>
	</div>
<% end %>
