<div class="row">
	<div class="small-12 medium-8 columns">
		<h1>Listing moments</h1>

		<table>
		  <thead>
		    <tr>
  		      <th colspan="2"></th>
			  <th>Name</th>
		      <th>Lat</th>
		      <th>Long</th>
		      <th>Active</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @moments.each do |moment| %>
		      <tr>
		        <td><%= link_to raw('<i class="fi-pencil"></i>'), edit_moment_path(moment) %></td>
		        <td><%= link_to raw('<i class="fi-trash"></i>'), moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= moment.name %></td>
		        <td><%= moment.lat %></td>
		        <td><%= moment.long %></td>
		        <td><%= moment.active ? raw('<i class="fi-check"></i>') : raw('<i class="fi-x"></i>') %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<br>

		<%= link_to 'New Moment', new_moment_path %>
	</div>
</div>